body{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.5em;
    text-align: center;
}

p{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1 rem;
    line-height: 1.5;
}

.principal{
    background-color: #f5faf3;
    padding: 40px;
    margin: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
}