* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fffdfd;
}
:root {
    --cor-texto: rgba(0, 0, 0, 0.65);
    --cor-bordas: rgba(0, 0, 0, 0.2);
    --cor-borda-imagem: rgb(218, 124, 0);
    --tamanho-da-imagem-grande: 55px;
    --tamanho-da-imagem-pequena: 45px;
    --tamanho-imagem-logo: 200px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.65);
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.65);
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.65);
}

.img-receita-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.img-redondo {
    width: var(--tamanho-imagem-logo);
    height: var(--tamanho-imagem-logo);
    border: 5px solid var(--cor-borda-imagem);
    border-radius: 50%;
    object-fit: cover;
}

.content-img-grande {
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.content-img-pequena {
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.content-text {
    font-size: 1.25rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.60);
}

ol li {
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.60);
}
/* conteudo lista */
.content-list {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 2.5rem;
}

.content-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    list-style: none;
}

.content-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* conteudo utensilos */
.content-list-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
}



.content-list-utensilios {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 2.5rem;
    border-radius: 15px;
    width: 900px;
    padding: 2.5rem;
    padding-bottom: 2.5rem;;
}

.content-list-utensilios ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* força sempre 2 colunas */
    gap: 1rem;
    list-style: none;
}

.content-list-utensilios-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--cor-bordas);
    border-radius: 10px;
}
/* .content-list-utensilios ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    list-style: none;
}

.content-list-utensilios li {
    display: flex;
    align-items: center;
    gap: 2rem;
}
    */

.content-list-utensilios a {
    text-decoration: none;
} 

/* botão para comprar */

.comprar {
    background-color: #e31414;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.comprar:hover {
    color: white;
    background-color: #28a745;
    cursor: pointer;
    transition: 0.3s;
}

.content-modo-preparo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}
ol li {
    padding: 1rem;
}

